body{
    background: #f9f9f9;
    padding: 0;
    margin: 0;
    color: #090909;
    font-size: 23.04px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.header{
    backdrop-filter: blur(11px);
    position: fixed;
    border-bottom: 1px solid;
    width: 1920px;
    top: 0px;
    z-index: 999999;
    /* border-image-source: radial-gradient(78.13% 41.5% at 50% 91.5%, #000000 0%, rgba(0, 0, 0, 0) 77.08%); */
}
.container{
    width: 1280px;
    margin: 0 auto;
}
a{
    color: #090909;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* padding-top: 25px; */
}
.logo{
    float: left;
    display: flex;
    justify-content: space-between;
}
.navmenupoint{
    display: inline-block;
    padding-left: 35px;
}
.tomain{
    border-bottom: 1px solid;
}
.about{
    background: #FFE3DD;
}

.newIphone{
    position: absolute;
width: 551px;
height: 27px;
margin-left: 341px;
margin-top: 392px;
}

.iphoneOffer{
    position: absolute;
margin-left: 1117px;
margin-top: 145px;
}

.title{
    position: absolute;
    width: 602px;
    height: 209px;
    margin-left: 341px;
    margin-top: 424px;
    font-size: 80px;
}
.offer{
    height: 980px;
}

.btnOffer{
    width: 200px;
    padding: 18px 49px;
    color: #0B8BD5;
    border: 2px solid #0B8BD5;
    box-sizing: border-box;
    border-radius: 30px;
}
.section-banner{
    height: 100vh;
    width: 100vw;
}
