.section-newest{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 90px;
}
.section-newest h1{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 47.77px;
  line-height: 65px;
  color: #090909;
  margin-bottom: 90px;
}
.newest__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 630px));
  justify-content: center;
  grid-gap: 20px;
  max-width: 1280px;
  width: 100%;
  margin: 0 72px;
}
.newest__list-item{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  background: #EDEDED;
  border-radius: 20px;
  padding: 40px 50px;
}
.newest__list-item img{
  align-self: center;
  height: 100%;
  object-fit: contain;
}
.newest__list-item > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newest__list-item > div div{
  height: 95px;
  margin-top: auto;
}
.newest__list-item > div div p:nth-child(2){
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 27.65px;
  line-height: 38px;
  color: #090909;
}
.newest__list-item h2{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 27.65px;
  line-height: 45px;
}
.newest__list-item p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18.2px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 716px) {
  .newest__list-item h2{
    display: none;
  }
  .newest__list-item p{
    display: none;
  }
  .newest__list-item h2{
    display: block;
  }
  .newest__list-item{
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }
  .newest__list{
    grid-template-columns: 1fr;
    padding: 0 24px;
  }
  .newest__list-item img{
    order: -1;
    height: 100%;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
  }
  .newest__list-item > div div p{
    display: block;
  }
  .section-newest h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 23.04px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 40px;
  }
}