/* глобальные стили */
body{
  background: #f9f9f9;
  padding: 0;
  margin: 0;
  color: #090909;
  font-size: 23.04px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
html{
  width: 100vw;
  height: 100vh;
}
.header{
  flex: 0 0 auto;
}
.main{
  flex: 1 0 auto;
  min-height: 100vh;
}
.footer{
  flex: 0 0 auto;
}
.button:hover{
  transition: 0.4s;
  color: #fff;
  background: #0B8BD5;
  border: 1px solid #0B8BD5;
}
.button{
  display: inline-block;
  color: #0B8BD5;
  border: 1px solid #0B8BD5;
  padding: 0 29px;
  border-radius: 60px;
  text-align: center;
  height: 60px;
  line-height: 58px;
  padding: 0px 32px;
  font-size: 18px;
  transition: 0.2s;
}